<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wisco_test_bench">
  <link name="base_link"/>
  <link name="test_mass"/>

  <joint name="test_motor_joint" type="continuous">
    <parent link="base_link"/>
    <child link="test_mass"/>
    <axis xyz="0 0 1"/>
  </joint>

  <ros2_control name="EthercatTestBench" type="system">
    <hardware>
      <plugin>ethercat_driver/EthercatDriver</plugin>
      <param name="master_id">0</param>
      <param name="control_frequency">1000</param>
    </hardware>

    <joint name="test_motor_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <command_interface name="effort"/>
      <command_interface name="reset_fault"/>

      <ec_module name="rmd_test_motor">
        <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
        <param name="alias">0</param>
        <param name="position">0</param>
        <param name="slave_config">$(find wisco_hw_interface)/config/rmd_x4_10.yaml</param>
      </ec_module>
    </joint>
  </ros2_control>
</robot>
